<div id="trac_{{trac_id}}" title="{{trac_id}}" class="ui_state_default trac">
  <div class="alert alert-warning">
    <span class="warning glyphicon glyphicon-warning-sign" style="color:red;"></span>
    <i class="icon-ticket"></i>{{trac_id}}
    <div class="pull-right">
      <small>{{charge_parson}}</small>
      |
      <div class="btn-group">
        <button id="accuracy" type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown">
          A <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a class="trac-accuracy" href="#trac-accuracy">S</a></li>
          <li><a class="trac-accuracy" href="#trac-accuracy">A</a></li>
          <li><a class="trac-accuracy" href="#trac-accuracy">B</a></li>
          <li><a class="trac-accuracy" href="#trac-accuracy">C</a></li>
          <li><a class="trac-accuracy" href="#trac-accuracy">D</a></li>
          <li><a class="trac-accuracy" href="#trac-accuracy">E</a></li>
        </ul>
      </div>
      <button type="button" class="trac-detail btn btn-xs btn-warning" data-toggle="modal" href="#myModal">Detail</button>
      |
      <input type="checkbox" name="delete" id="trac-delete" />
    </div>
  </div>
</div>