<form role="form" class="form-horizontal">
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <label for="InputTracname">Trac Name</label>
        <input type="text" class="form-control input-sm" id="InputTracname" placeholder="Enter Tracname">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="selectAccuracy">Accuracy</label>
        <select class="form-control input-sm" name="accuracy" id="selectAccuracy">
          <option>S</option>
          <option>A</option>
          <option>B</option>
          <option>C</option>
          <option>D</option>
          <option>E</option>
        </select>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="selectChargeParson">ChargeParson</label>
        <select class="form-control input-sm" name="charge_parson" id="selectChargeParson">
            <option>小田 和久</option>
            <option>横尾 結子</option>
            <option>小笠原 沙知絵</option>
            <option>平田 米蔵</option>
            <option>国分 春樹</option>
            <option>立川 花緑</option>
            <option>宮川 光洋</option>
            <option>浜田 明宏</option>
        </select>
      </div>
    </div>
  </div>
</form>
                        