      <form class="form-signin" ng-submit="login()">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" name="username" ng-model="loginInfo.username" class="form-control GINGER_SOFATWARE_control" placeholder="Email address" autofocus="" spellcheck="false" ginger_sofatware_editor="true" style="background-attachment: local; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARYAAAAWCAYAAAAFOrP7AAAAsklEQVR4Xu3UsQ0AAAjDMPr/0zyR0RzQwULZOQIECMQCi/fMESBA4ITFExAgkAsIS05qkAABYfEDBAjkAsKSkxokQEBY/AABArmAsOSkBgkQEBY/QIBALiAsOalBAgSExQ8QIJALCEtOapAAAWHxAwQI5ALCkpMaJEBAWPwAAQK5gLDkpAYJEBAWP0CAQC4gLDmpQQIEhMUPECCQCwhLTmqQAAFh8QMECOQCwpKTGiRA4AGr1wAX2t0QewAAAABJRU5ErkJggg==); font-size: 16px; line-height: 22px; background-position: 10px 20px; background-repeat: no-repeat no-repeat;">
        <input type="password" name="password" ng-model="loginInfo.password" class="form-control" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

